.landing-page {
  background: radial-gradient(circle at center, #000033, #000000);
  color: #ffffff;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.data-point {
  position: absolute;
  font-size: 0.75rem;
  color: radial rgba(255, 255, 255, 0.8);
  text-shadow: 
  0 0 2px  #FBFFFF,
  0 0 2px #FBFFFF,
  0 0 2px #FBFFFF,
  0 0 2px #FBFFFF;
  transform: rotateX(45deg) rotateY(45deg);
}


@keyframes moveToPointTop {
  0% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(calc(35vh - 50%));
    opacity: 0;
  }
}

@keyframes moveToPointBottom {
  0% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(calc(-35vh + 50%));
    opacity: 0;
  }
}

@keyframes moveToPointLeft {
  0% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    transform: translateX(calc(35vw - 50%));
    opacity: 0;
  }
}

@keyframes moveToPointRight {
  0% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    transform: translateX(calc(-35vw + 50%));
    opacity: 0;
  }
}

.welcome-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2; /* Ensure this section is always on top */
  text-shadow: 
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 1px #fff;
  font-weight: bold;
}



.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  border: none;
  background-color: #00cc66;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.button:hover {
  background-color: #0056b3;
}
.auth-options {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px; /* Increased width to accommodate the content */
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  overflow: hidden;
  transition: height 0.3s ease;
}

.auth-options:hover {
  height: 80px; /* Increased height to show the content clearly upon hover */
}

.auth-options-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px; /* Corresponding increase in height for the content container */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.auth-options:hover .auth-options-content {
  opacity: 1;
}

.auth-options-content a {
  margin: 10px;
  color: #ffffff;
  text-decoration: none;
}