.sign-up-container {
  background: radial-gradient(circle at center, #000033, #000000);
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  animation: backgroundAnimation 30s infinite;
  background: linear-gradient(270deg, #000033, #000000, #000033, #000000);
  background-size: 200% 200%;
}

.logo-container {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.232);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px;
  max-width: 150px;
}

.logo {
  width: 100%;
}

.sign-up-glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  text-align: center;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-form input {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 200px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.sign-up-form input:focus {
  outline: none;
  box-shadow: 0 0 5px #00cc66;
}

.sign-up-button-signup {
  padding: 10px 20px;
  border: none;
  background-color: #00cc66;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.sign-up-button-signup:hover {
  background-color: #0056b3;
}

.sign-up-button-signup:active {
  transform: scale(0.95);
}

.error-message-signup {
  color: #ff6666;
  margin-top: 10px;
}

.data-point-signup {
  position: absolute;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 
    0 0 2px #FBFFFF,
    0 0 2px #FBFFFF,
    0 0 2px #FBFFFF,
    0 0 2px #FBFFFF;
  transform: rotateX(45deg) rotateY(45deg);
}

@keyframes moveToPointTopSignUp {
  0% {
    opacity: 0.8;
    
  }
  80% {
    opacity: 0.4;
  }
  100% {
    transform: translateX(15vw);
    opacity: 0;
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.auth-options-signup {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.3s ease;
}

.auth-options-signup:hover {
  height: 140px;
}

.auth-options-content-signup {
  position: relative;
  top: 5px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.auth-options-signup:hover .auth-options-content-signup {
  opacity: 0.4;
}

.auth-options-content-signup a {
  margin: 10px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.auth-options-content-signup a:hover {
  color: #00cc66;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Responsive Design */
@media (max-width: 768px) {
  .sign-up-glass, .sign-up-form input, .sign-up-button-signup {
    width: 90%;
  }
  .logo-container, .auth-options-signup {
    display: none;
  }
}
.grid-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  opacity: 0.5;
}

.grid-square {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 30, 118);
  box-shadow: 0 0 5px rgba(0, 32, 128, 0.574);
  opacity: 0.5;
}

